@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
  background-color: #65adf1;
  color: white;
}

.HortiFrutlogo {
  width: 45%;
  margin: 0, 0, 20, 0;
}
.Campeones {
  width: 55%;
  margin: 0, 0, 20, 0;
}

.cardbg {
  background-color: '#88FFFFFF';
}

.actionLabel {
  font-size: 22px;
  font-weight: bold;
}

.actionLabelError {
  font-size: 26px;
  font-weight: bold;
  color: #d5012c;
}
.actionLabelErrorSub {
  font-size: 16px;
  font-weight: bold;
  color: #d5012c;
}

.ModalTitlelabel {
  font-size: 26px;
  font-weight: bold;
  color: #509f4a;
}

.ModalTitlelabelSub {
  font-size: 18px;
  font-weight: bold;
}

.ModalTitleAmountlabelSub {
  font-size: 22px;
  font-weight: bold;
}

.LabelDesc {
  font-weight: bold;
  font-size: 18px;
}

.LabelAmount {
  font-size: 14px;
  padding: 5 18;
  border-color: #000;
  border-width: 0 0 2 0;
}

.Maincard {
  margin: 10;
  border-radius: 25;
  background-color: rgba(255, 255, 255, 0.75);
}

.Okbutton {
  background-color: #509f4a;
  color: #fff;
}

.Errorbutton {
  background-color: #d5012c;
  color: #fff;
}

.Fab {
  width: 50;
  height: 50;
  background-color: #d5012c;
  border-radius: 25;
  color: #fff;
  right: 20;
  bottom: 20;
}
